> [!IMPORTANT]
> Pour que l'application fonctionne, tu dois fournir deux clés API dans ce fichier :
> 1. Un Token GitHub (PAT) pour contourner la limite de 60 requêtes/heure.
> 2. Une clé API DEEPSEEK_API_KEY
# Clés d'API
GITHUB_TOKEN=cler
DEEPSEEK_API_KEY=cle

# Supabase
SUPABASE_URL=cle
SUPABASE_KEY=cle
