> [!IMPORTANT]
> Pour que l'application fonctionne, tu dois fournir deux clés API dans ce fichier :
> 1. Un Token GitHub (PAT) pour contourner la limite de 60 requêtes/heure.
> 2. Une clé API DEEPSEEK_API_KEY
# Serveur API
PORT=3000

# Clés d'API
GITHUB_TOKEN=ton_token_github_ici
GEMINI_API_KEY=DEEPSEEK_API_KEY

# Base de données (Généré par Prisma)
DATABASE_URL="file:./dev.db"
